@model Data.Entity.Role

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>
<style>
    .table-bordered {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        width: 50%;
    }

    #button {
        width: 100px;
    }

    #user {
    }
    #id{
        width:600px;
        height:250px;
    }
</style>

<div style=" margin-top: 0px;-webkit-box-shadow: 10px 10px 22px -5px rgba(0,0,0,0.59);-moz-box-shadow: 10px 10px 22px -5px rgba(0,0,0,0.59);box-shadow: 10px 10px 22px -5px rgba(0,0,0,0.59) ;margin-right:500px;margin-bottom:5px;" id="id">
    <div style="background-color:lightskyblue; margin-top:0px; height:35px;"><h4 style=" margin-left:10px;  font-family: 'Balsamiq Sans', cursive; font-size:22px;" id="user">Role</h4> </div>

    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <div style="margin-left:470px; margin-top:90px;">
                    <input type="submit" value="Save" id="button" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<div style="margin-top:300px;">
    <a asp-action="Index">Back to List</a>
</div>

