@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form asp-controller="Home" asp-action="Login"  method="get">
        <button type="submit"><p>Sign in</p></button>
    </form>
</div>
