
@{
    ViewData["Title"] = "Login";
}
<div class="text-center">
<h1>Login</h1>

    <div class="text-center">
        <!-- Outer Row -->
                <div class="border-primary rounded" style=" ">      
                    <div class=" border border-success" style="height: 250px; width: 350px; margin:auto" >
                        <dl class="text-center" style="padding: 30px 10px 10px 10px" >
                            <dt class="m-4 " style="font-size:x-large"> <input type="text"></dt>
                            <dt class="m-4 " style="font-size:x-large"><input type="password"> </dt>
                           <dt class="m-4 " style="font-size:x-large"> <input type="submit"></dt>

                        </dl>
    
                    </div>
                </div>
    </div>
</div>