################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VacationManager/Data/bin/Debug/netcoreapp3.1/Data.pdb
/VacationManager/.vs/VacationManager/config/applicationhost.config
/VacationManager/.vs/VacationManager/v16/.suo
/VacationManager/Data/bin/Debug/netcoreapp3.1/Data.deps.json
/VacationManager/Data/bin/Debug/netcoreapp3.1/Data.dll
/VacationManager/Data/bin/Debug/netcoreapp3.1/Data.runtimeconfig.dev.json
/VacationManager/Data/bin/Debug/netcoreapp3.1/Data.runtimeconfig.json
/VacationManager/Data/obj/Data.csproj.nuget.dgspec.json
/VacationManager/Data/obj/Data.csproj.nuget.g.props
/VacationManager/Data/obj/Data.csproj.nuget.g.targets
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
/VacationManager/VacationManager/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/VacationManager/VacationManager/bin/Debug/net5.0/runtimes/win-x64/native/e_sqlite3.dll
/VacationManager/VacationManager/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
/VacationManager/VacationManager/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/VacationManager/VacationManager/bin/Debug/net5.0/runtimes/win-arm64/native/e_sqlite3.dll
/VacationManager/VacationManager/bin/Debug/net5.0/runtimes/win-arm64/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
/VacationManager/VacationManager/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
/VacationManager/VacationManager/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/VacationManager/VacationManager/bin/Debug/net5.0/runtimes/win-arm/native/e_sqlite3.dll
/VacationManager/VacationManager/bin/Debug/net5.0/runtimes/win-arm/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
/VacationManager/VacationManager/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/VacationManager/VacationManager/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/VacationManager/VacationManager/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/VacationManager/VacationManager/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/VacationManager/VacationManager/bin/Debug/net5.0/runtimes/osx-x64/native/libe_sqlite3.dylib
/VacationManager/VacationManager/bin/Debug/net5.0/runtimes/linux-x86/native/libe_sqlite3.so
/VacationManager/VacationManager/bin/Debug/net5.0/runtimes/linux-x64/native/libe_sqlite3.so
/VacationManager/VacationManager/bin/Debug/net5.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
/VacationManager/VacationManager/bin/Debug/net5.0/runtimes/linux-mips64/native/libe_sqlite3.so
/VacationManager/VacationManager/bin/Debug/net5.0/runtimes/linux-armel/native/libe_sqlite3.so
/VacationManager/VacationManager/bin/Debug/net5.0/runtimes/linux-arm64/native/libe_sqlite3.so
/VacationManager/VacationManager/bin/Debug/net5.0/runtimes/linux-arm/native/libe_sqlite3.so
/VacationManager/VacationManager/bin/Debug/net5.0/runtimes/alpine-x64/native/libe_sqlite3.so
/VacationManager/VacationManager/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/ref/VacationManager.dll~vanko
/VacationManager/VacationManager/bin/Debug/net5.0/ref/VacationManager.dll
/VacationManager/VacationManager/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Newtonsoft.Json.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.Identity.Client.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.Extensions.Identity.Stores.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.Extensions.Identity.Core.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.Extensions.FileProviders.Embedded.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.Extensions.DependencyModel.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
/VacationManager/VacationManager/obj/Debug/net5.0/Razor/Areas/Identity/Pages/_ViewStart.cshtml.g.cs
/VacationManager/VacationManager/obj/Debug/net5.0/Razor/Areas/Identity/Pages/_ViewImports.cshtml.g.cs
/VacationManager/VacationManager/obj/Debug/net5.0/Razor/Areas/Identity/Pages/_ValidationScriptsPartial.cshtml.g.cs
/VacationManager/VacationManager/obj/Debug/net5.0/Razor/Areas/Identity/Pages/Account/_ViewImports.cshtml.g.cs
/VacationManager/VacationManager/obj/Debug/net5.0/apphost.exe~vanko
/VacationManager/VacationManager/obj/Debug/net5.0/apphost.exe
/VacationManager/VacationManager/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/VacationManager/VacationManager/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/VacationManager.Views.pdb~vanko
/VacationManager/VacationManager/bin/Debug/net5.0/VacationManager.Views.pdb
/VacationManager/VacationManager/bin/Debug/net5.0/VacationManager.Views.dll~vanko
/VacationManager/VacationManager/bin/Debug/net5.0/VacationManager.Views.dll
/VacationManager/VacationManager/bin/Debug/net5.0/VacationManager.StaticWebAssets.xml~vanko
/VacationManager/VacationManager/bin/Debug/net5.0/VacationManager.StaticWebAssets.xml
/VacationManager/VacationManager/bin/Debug/net5.0/VacationManager.runtimeconfig.json
/VacationManager/VacationManager/bin/Debug/net5.0/VacationManager.runtimeconfig.dev.json~vanko
/VacationManager/VacationManager/bin/Debug/net5.0/VacationManager.runtimeconfig.dev.json
/VacationManager/VacationManager/bin/Debug/net5.0/VacationManager.pdb~vanko
/VacationManager/VacationManager/bin/Debug/net5.0/VacationManager.pdb
/VacationManager/VacationManager/bin/Debug/net5.0/VacationManager.exe~vanko
/VacationManager/VacationManager/bin/Debug/net5.0/VacationManager.exe
/VacationManager/VacationManager/bin/Debug/net5.0/VacationManager.dll~vanko
/VacationManager/VacationManager/bin/Debug/net5.0/VacationManager.dll
/VacationManager/VacationManager/bin/Debug/net5.0/VacationManager.deps.json
/VacationManager/VacationManager/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
/VacationManager/VacationManager/bin/Debug/net5.0/System.Runtime.Caching.dll
/VacationManager/VacationManager/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
/VacationManager/VacationManager/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
/VacationManager/VacationManager/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
/VacationManager/VacationManager/bin/Debug/net5.0/System.Composition.TypedParts.dll
/VacationManager/VacationManager/bin/Debug/net5.0/System.Composition.Runtime.dll
/VacationManager/VacationManager/bin/Debug/net5.0/System.Composition.Hosting.dll
/VacationManager/VacationManager/bin/Debug/net5.0/System.Composition.Convention.dll
/VacationManager/VacationManager/bin/Debug/net5.0/System.Composition.AttributedModel.dll
/VacationManager/VacationManager/bin/Debug/net5.0/SQLitePCLRaw.provider.dynamic_cdecl.dll
/VacationManager/VacationManager/bin/Debug/net5.0/SQLitePCLRaw.nativelibrary.dll
/VacationManager/VacationManager/bin/Debug/net5.0/SQLitePCLRaw.core.dll
/VacationManager/VacationManager/bin/Debug/net5.0/SQLitePCLRaw.batteries_v2.dll
/VacationManager/VacationManager/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
/VacationManager/VacationManager/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/VacationManager/VacationManager/bin/Debug/net5.0/runtimes/win-x86/native/e_sqlite3.dll
/VacationManager/VacationManager/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Sqlite.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Proxies.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.DotNet.PlatformAbstractions.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.Data.Sqlite.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.CodeAnalysis.Workspaces.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.CodeAnalysis.Razor.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.CodeAnalysis.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.CodeAnalysis.CSharp.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.Bcl.AsyncInterfaces.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.AspNetCore.Razor.Language.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.AspNetCore.Identity.UI.Views.V4.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.AspNetCore.Identity.UI.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Microsoft.AspNetCore.Cryptography.Internal.dll
/VacationManager/VacationManager/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Humanizer.dll
/VacationManager/VacationManager/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/dotnet-aspnet-codegenerator-design.dll
/VacationManager/VacationManager/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Data.pdb~vanko
/VacationManager/VacationManager/bin/Debug/net5.0/Data.pdb
/VacationManager/VacationManager/bin/Debug/net5.0/Data.dll~vanko
/VacationManager/VacationManager/bin/Debug/net5.0/Data.dll
/VacationManager/VacationManager/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/VacationManager/VacationManager/bin/Debug/net5.0/Castle.Core.dll
/VacationManager/VacationManager/bin/Debug/net5.0/appsettings.json
/VacationManager/VacationManager/bin/Debug/net5.0/appsettings.Development.json
/VacationManager/Data/obj/Release/netcoreapp3.1/Data.csprojAssemblyReference.cache
/VacationManager/Data/obj/Release/netcoreapp3.1/Data.assets.cache
/VacationManager/Data/obj/Release/netcoreapp3.1/Data.AssemblyInfoInputs.cache
/VacationManager/Data/obj/Release/netcoreapp3.1/Data.AssemblyInfo.cs
/VacationManager/Data/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/VacationManager/Data/obj/project.nuget.cache
/VacationManager/Data/obj/project.assets.json
/VacationManager/Data/obj/Debug/netcoreapp3.1/Data.pdb
/VacationManager/Data/obj/Debug/netcoreapp3.1/Data.genruntimeconfig.cache
/VacationManager/Data/obj/Debug/netcoreapp3.1/Data.dll
/VacationManager/Data/obj/Debug/netcoreapp3.1/Data.csprojAssemblyReference.cache
/VacationManager/Data/obj/Debug/netcoreapp3.1/Data.csproj.FileListAbsolute.txt
/VacationManager/Data/obj/Debug/netcoreapp3.1/Data.csproj.CoreCompileInputs.cache
/VacationManager/Data/obj/Debug/netcoreapp3.1/Data.assets.cache
/VacationManager/Data/obj/Debug/netcoreapp3.1/Data.AssemblyInfoInputs.cache
/VacationManager/Data/obj/Debug/netcoreapp3.1/Data.AssemblyInfo.cs
/VacationManager/Data/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/VacationManager/VacationManager/obj/VacationManager.csproj.nuget.g.targets
/VacationManager/VacationManager/obj/VacationManager.csproj.nuget.g.props~vanko
/VacationManager/VacationManager/obj/VacationManager.csproj.nuget.g.props
/VacationManager/VacationManager/obj/VacationManager.csproj.nuget.dgspec.json~vanko
/VacationManager/VacationManager/obj/VacationManager.csproj.nuget.dgspec.json
/VacationManager/VacationManager/obj/Release/net5.0/VacationManager.RazorAssemblyInfo.cs
/VacationManager/VacationManager/obj/Release/net5.0/VacationManager.RazorAssemblyInfo.cache
/VacationManager/VacationManager/obj/Release/net5.0/VacationManager.GeneratedMSBuildEditorConfig.editorconfig
/VacationManager/VacationManager/obj/Release/net5.0/VacationManager.csprojAssemblyReference.cache
/VacationManager/VacationManager/obj/Release/net5.0/VacationManager.assets.cache
/VacationManager/VacationManager/obj/Release/net5.0/VacationManager.AssemblyInfoInputs.cache
/VacationManager/VacationManager/obj/Release/net5.0/VacationManager.AssemblyInfo.cs
/VacationManager/VacationManager/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/VacationManager/VacationManager/obj/project.nuget.cache~vanko
/VacationManager/VacationManager/obj/project.nuget.cache
/VacationManager/VacationManager/obj/project.assets.json~vanko
/VacationManager/VacationManager/obj/project.assets.json
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.Views.pdb~vanko
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.Views.pdb
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.Views.dll~vanko
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.Views.dll
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.TagHelpers.output.cache
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.TagHelpers.input.cache
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.RazorTargetAssemblyInfo.cs
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.RazorTargetAssemblyInfo.cache
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.RazorCoreGenerate.cache~vanko
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.RazorCoreGenerate.cache
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.RazorAssemblyInfo.cs
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.RazorAssemblyInfo.cache
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.pdb~vanko
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.pdb
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.MvcApplicationPartsAssemblyInfo.cs
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.MvcApplicationPartsAssemblyInfo.cache
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.genruntimeconfig.cache~vanko
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.genruntimeconfig.cache
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.GeneratedMSBuildEditorConfig.editorconfig
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.dll~vanko
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.dll
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.csprojAssemblyReference.cache~vanko
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.csprojAssemblyReference.cache
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.csproj.FileListAbsolute.txt~vanko
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.csproj.FileListAbsolute.txt
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.csproj.CoreCompileInputs.cache~vanko
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.csproj.CoreCompileInputs.cache
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.csproj.CopyComplete
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.assets.cache~vanko
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.assets.cache
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.AssemblyInfoInputs.cache
/VacationManager/VacationManager/obj/Debug/net5.0/VacationManager.AssemblyInfo.cs
/VacationManager/VacationManager/obj/Debug/net5.0/staticwebassets/VacationManager.StaticWebAssets.xml~vanko
/VacationManager/VacationManager/obj/Debug/net5.0/staticwebassets/VacationManager.StaticWebAssets.xml
/VacationManager/VacationManager/obj/Debug/net5.0/staticwebassets/VacationManager.StaticWebAssets.Manifest.cache~vanko
/VacationManager/VacationManager/obj/Debug/net5.0/staticwebassets/VacationManager.StaticWebAssets.Manifest.cache
/VacationManager/VacationManager/obj/Debug/net5.0/ref/VacationManager.dll~vanko
/VacationManager/VacationManager/obj/Debug/net5.0/ref/VacationManager.dll
/VacationManager/VacationManager/obj/Debug/net5.0/Razor/Views/_ViewStart.cshtml.g.cs
/VacationManager/VacationManager/obj/Debug/net5.0/Razor/Views/_ViewImports.cshtml.g.cs
/VacationManager/VacationManager/obj/Debug/net5.0/Razor/Views/User/Index.cshtml.g.cs
/VacationManager/VacationManager/obj/Debug/net5.0/Razor/Views/User/Edit.cshtml.g.cs
/VacationManager/VacationManager/obj/Debug/net5.0/Razor/Views/User/Details.cshtml.g.cs
/VacationManager/VacationManager/obj/Debug/net5.0/Razor/Views/User/Delete.cshtml.g.cs
/VacationManager/VacationManager/obj/Debug/net5.0/Razor/Views/User/Create.cshtml.g.cs
/VacationManager/VacationManager/obj/Debug/net5.0/Razor/Views/Teams/Index.cshtml.g.cs
/VacationManager/VacationManager/obj/Debug/net5.0/Razor/Views/Teams/Edit.cshtml.g.cs
/VacationManager/VacationManager/obj/Debug/net5.0/Razor/Views/Teams/Details.cshtml.g.cs
/VacationManager/VacationManager/obj/Debug/net5.0/Razor/Views/Teams/Delete.cshtml.g.cs
/VacationManager/VacationManager/obj/Debug/net5.0/Razor/Views/Teams/Create.cshtml.g.cs
/VacationManager/VacationManager/obj/Debug/net5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
/VacationManager/VacationManager/obj/Debug/net5.0/Razor/Views/Shared/_LoginPartial.cshtml.g.cs
/VacationManager/VacationManager/obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
/VacationManager/VacationManager/obj/Debug/net5.0/Razor/Views/Shared/Error.cshtml.g.cs
/VacationManager/VacationManager/obj/Debug/net5.0/Razor/Views/Home/Registration.cshtml.g.cs
/VacationManager/VacationManager/obj/Debug/net5.0/Razor/Views/Home/Privacy.cshtml.g.cs
/VacationManager/VacationManager/obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
/VacationManager/VacationManager/obj/Debug/net5.0/Razor/Areas/Identity/Pages/Account/Register.cshtml.g.cs
/VacationManager/VacationManager/obj/Debug/net5.0/Razor/Areas/Identity/Pages/Account/Login.cshtml.g.cs
