~/source/repos/Vacation-Manager/Vacation-Manager/VacationManager/Data/bin
~/source/repos/Vacation-Manager/Vacation-Manager/VacationManager/VacationManager/bin
~/source/repos/Vacation-Manager/Vacation-Manager/VacationManager/Data/obj
~/source/repos/Vacation-Manager/Vacation-Manager/VacationManager/VacationManager/obj
~/source/repos/Vacation-Manager/Vacation-Manager/VacationManager/.vs



